.category-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    list-style: none;
    padding: 0;
    height:100%;
}

.h-60{
    min-height: 40px;
}

.color{
    /* background-color: #16202b; */
    background-color: #191a35;
    color: white;
}

.color a{
    color: white;
}