<nav>
    <div class="row">
        <div class="col-xl-12 h-60 color">
            <ul class="category-nav">
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
                <li><a href="#" class="btn">Electronics</a></li>
            </ul>
        </div>
    </div>
</nav>