<section class="container-fluid">
    <div class="container"></div>
    <div class="row">
        <div class="footer-nav">
            <div class="col-1">
                <h5 class="text-muted">About</h5>
                <ul class="footer-list">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Costumer Support</a></li>
                </ul>
            </div>
            <div class="col-1">
                <h5 class="text-muted">Connect Us</h5>
                <ul class="footer-list">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
            <div class="col-1">
                <h5 class="text-muted">Services</h5>
                <ul class="footer-list">
                    <li><a href="#">Sell with us</a></li>
                    <li><a href="#">Start your Store</a></li>
                    <li><a href="#">Become a Seller</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Get Noticed</a></li>
                </ul>
            </div>
            <div class="get-to-us">
                <div class="col mail-us">
                    <h5 class="text-muted">Mail Us</h5>
                    <p>3112  Doctors Drive, Los Angeles California 90017 310-341-3936 <span class="text-muted">phmir12ryrk@temporary-mail.net</span></p>
                </div>
                <div class="col address">
                    <h5 class="text-muted">Address</h5>
                    <p>18  Kulkarni Patil Bhavan nd Floor, Murzban Road, Fort  Mumbai  Maharashtra 400001 <span class='text-muted'>n91ufhf0oar@temporary-mail.net</span></p>
                </div>
            </div>
        </div>  
        <!-- <div class="region">
            <h2>Footer Region</h2>
        </div> -->
        <div class="copyright">
            <span>Copyright &copy; 2021</span>
        </div>
    </div>

</section>