<nav>
    <div class="conatiner-fluid brand-header">
        <div class="brand">
            <a href="#!">Home</a>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="btn material-icons input-group-text" style="background-color: orange;color: darkblue">search</span>
          </div>
          <div class="account">
              <a href="#" class="btn">My Account</a>
            <ul class="dropdown-content-account">
                <li>Your Profile</li>
                <li>Your Cart</li>
                <li>Your Wishlist</li>
            </ul>
          </div>
        <div class="more">
            <a href="#" class="btn">More</a>
            <ul class="dropdown-content-more">
                <li>Your Profile</li>
                <li>Your Cart</li>
                <li>Your Wishlist</li>
            </ul>
        </div>
    </div>
</nav>