<div class="row mb-3">
    <div class="col-xl-12">
        <div class="card mnh-400">
            <div class="card-header">
                <h2>Best Offers</h2>
            </div>
            <div class="card-body">
                <div class="body-content">
                    <div class="fi-ac fi-dr-rw">
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                        <div class="items">
                            <img src="assets/products/mobile.jpg" alt="" class="card-image-top">
                            <div class="item-dec">
                                <h2>Mobile</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="nav-btn btn btn-pos-prev" (click)="prevButton($event)">
                <span class="material-icons-outlined">
                    arrow_back_ios
                </span>
            </button>
            <button class=" nav-btn btn btn-pos-next" (click)="nextButton($event)">
                <span class="material-icons-outlined">
                    arrow_forward_ios
                </span>
            </button>
        </div>
    </div>
</div>