<div class="row mb-3">
    <div class="col-xl-12 d-flex justify-content-between mxh-480">
        <div class="col-md-5">
            <img src="assets/products/Galaxy Buds Live_product image (5).jpg" alt="" class="image-responsive" width=100%>
        </div>
        <div class="col-md-3">
            <div class="image h-100 d-flex align-items-center" style="background-color: white;">
                <img src="assets/products/Galaxy Buds Live_product image (5).jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center h-100 justify-content-center" style="background-color: white;">
            <div class="image1">
                <img src="assets/products/Galaxy Buds Live_product image (5).jpg" alt="" class="img-thumbnail">
                <img src="assets/products/Galaxy Buds Live_product image (5).jpg" alt="" class="img-thumbnail">
            </div>
            <div class="image2">
                <img src="assets/products/Galaxy Buds Live_product image (5).jpg" alt="" class="img-thumbnail">
                <img src="assets/products/Galaxy Buds Live_product image (5).jpg" alt="" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>