.btn-pos-prev {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  float: left;
  left: 0;
  background: white;
  height: 100px;
  box-shadow: -3px 0px 10px 2px #c7c7c7;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.btn-pos-next {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  float: right;
  right: 0;
  background: white;
  height: 100px;
  box-shadow: 3px 0px 10px 2px #c7c7c7;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.body-content {
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 20px 0 20px;
}

.body-content::-webkit-scrollbar {
  width: 0;
  height: 0;
  scroll-behavior: smooth;
}

.body-content .items {
  min-width: 250px;
}

.body-content:hover .btn-pos-next {
  visibility: visible;
  opacity: 1;
}

.body-content:hover .btn-pos-prev {
  visibility: visible;
  opacity: 1;
}

button span{
  height: 100%;
    display: flex;
    align-items: center;
}